<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lara8">


   <xacro:include filename="$(find moveit_lara8_moveit_config)/config/lara8_macro.xacro"/> 

    <xacro:arg name="left_initial_positions_file"
            default="$(find moveit_lara8_moveit_config)/config/left_initial_positions.yaml"/>
    <xacro:arg name="right_initial_positions_file"
            default="$(find moveit_lara8_moveit_config)/config/right_initial_positions.yaml"/>

    <material name="white">
	<color rgba="1.0 1.0 1.0 1.0"/>
	</material>


    <link name="world">
       
    </link>
   

    <xacro:lara8_robot
        name="right_lara"
        prefix="right_lara8_"    
        parent="world"   
        initial_positions_file="$(find moveit_lara8_moveit_config)/config/right_initial_positions.yaml"
        use_vision="true">
    <origin xyz="0 0.3 0.1" rpy="-1.57 -0.78 1.57" />
    </xacro:lara8_robot>

    <xacro:lara8_robot
        name="left_lara"
        prefix="left_lara8_"       
        use_vision="false"
        parent="world"
        initial_positions_file="$(find moveit_lara8_moveit_config)/config/left_initial_positions.yaml">
    <origin xyz="0 -0.3 0.1" rpy="1.57 -0.78 -1.57" />
    </xacro:lara8_robot>


    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find moveit_lara8_moveit_config)/config/ros2_controllers.yaml</parameters>
        <controller_manager_prefix_node_name>controller_manager</controller_manager_prefix_node_name>
        </plugin>
    </gazebo>

    <ros2_control name="GazeboSimSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <joint name="right_lara8_joint1"> 
            <command_interface name="position"/>
            <state_interface name="position">
             <param name="initial_value">0</param>
             </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="right_lara8_joint2"> 
            <command_interface name="position"/>
            <state_interface name="position">
             <param name="initial_value">0</param>
             </state_interface>

            <state_interface name="velocity"/>
        </joint>
        <joint name="right_lara8_joint3"> 
            <command_interface name="position"/>
           <state_interface name="position">
             <param name="initial_value">1.57</param>
             </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="right_lara8_joint4"> 
            <command_interface name="position"/>
            <state_interface name="position">
             <param name="initial_value">-0.7</param>
             </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="right_lara8_joint5"> 
            <command_interface name="position"/>
           <state_interface name="position">
             <param name="initial_value">1.04</param>
             </state_interface>
            <state_interface name="velocity"/>
        </joint>
        <joint name="right_lara8_joint6"> 
            <command_interface name="position"/>
            <state_interface name="position">
             <param name="initial_value">-1.7</param>
             </state_interface>
            <state_interface name="velocity"/>
        </joint>

        <joint name="left_lara8_joint1">
            <command_interface name="position"/>
            <state_interface name="position">
             <param name="initial_value">0</param>
             </state_interface>
            <state_interface name="velocity"/>
        </joint>

        <joint name="left_lara8_joint2">
            <command_interface name="position"/>
            <state_interface name="position">
             <param name="initial_value">0</param>
             </state_interface>
            <state_interface name="velocity"/>
        </joint>

        <joint name="left_lara8_joint3">
            <command_interface name="position"/>
           <state_interface name="position">
             <param name="initial_value">1.57</param>
             </state_interface>
            <state_interface name="velocity"/>
        </joint>

        <joint name="left_lara8_joint4">
            <command_interface name="position"/>
            <state_interface name="position">
             <param name="initial_value">0</param>
             </state_interface>
            <state_interface name="velocity"/>
        </joint>

        <joint name="left_lara8_joint5">
            <command_interface name="position"/>
            <state_interface name="position">
             <param name="initial_value">1.57</param>
             </state_interface>
            <state_interface name="velocity"/>
        </joint>

        <joint name="left_lara8_joint6">
            <command_interface name="position"/>
            <state_interface name="position">
             <param name="initial_value">0</param>
             </state_interface>
            <state_interface name="velocity"/>
        </joint>


    </ros2_control>

  


</robot>